<%- include("partial/header") %>
<h1>Compose</h1>
<br />
<br />
<hr />
<form action="/compose" method="post">
  
  <div class="form-group">
      <label for="tit">Title</label>
    <input type="text" class="form-control" name="title" id="tit" required />
  </div>
  <div class="form-group">
      <label for="pos">Post</label>
    <textarea class="form-control" name="content" id="pos" cols="30" rows="10" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button">Submit</button>
</form>

<%- include("partial/footer") %>
